*{
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    
}

.navbar-brand {
    color: red;
    font-size: 33px;
    font-weight: bold;
    cursor: default;
    .kart {
        color: black;
    }
}

.moon {
    position: relative;
    rotate: 320deg;
    font-size: 20px;
}

.nav-bt{
     
}
.nav-bt:hover{
    border-bottom: 2px solid red;
}

/* hero section */

.d-block {
    height: 600px;
}

.banner-1 {}

.b1 {
    position: relative;
    bottom: 9rem;
    color: red;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    text-transform: capitalize;
    word-spacing: 1px;
}

.b2 {
    position: relative;
    bottom: 9rem;
    font-size: 80px;
}

.b3 {
    position: relative;
    bottom: 9rem;
    font-size: 28px;
}

.b4 {
    position: relative;
    bottom: 8rem;
    background-color: red;
    color: white;
    padding: 10px;
    border: 1px solid red;
    border-radius: 4px;
}

/* bar-section */

.bar {
    width: 100%;
    height: 120px;
    /* border: 2px solid red; */
    background-color: rgb(245, 240, 240);
    box-shadow: 5px 5px 10px rgb(228, 225, 225);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;


}

.bar1 {
    word-spacing: 2px;
    letter-spacing: 5px;
}

/* card-section */
.c1 {
    /* border: 1px solid red; */
    height: 500px;
}

.a1 {
    position: relative;
    top: 100px;

}

.card-1 {
    width: 50%;
}

.card-title {
    font-size: 40px;
    padding-right: 30px;
}

.pic {
    opacity: 0.2px;
}

.card-btn {
    background: transparent;
    border: 2px solid white;
    padding: 10px;
    color: azure;
}

.card-1:hover {
    overflow: hidden;

    img {
        transform: scale(1.2);
        transition: 0.5s;

    }

    .card-btn {
        background-color: red;
        border-color: red;
    }
}

/* todays best deals */
.deals {
    padding: 25px;
    font-size: 35px;
    font-weight: bolder;
}

.offer {
    font-size: 18px;
    font-weight: bold;

}

.card {
    border: none;
}

.image:hover {
    overflow: hidden;

    img {
        transform: scale(1.2);
        transition: 1s;
    }
}

/* vedio image section  */
.image-5 {
    position: relative;
    top: 100px;
    background-image: url(image/banner5.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;

}

.t1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    padding: 80px;

}

.f1 {
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 50%;
    padding: 25px;
    color: red;
    transition: all 2s ease-in-out 0.2s;
}


/*.t2 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 70px;
    color: white;
    text-align: center;
    justify-content: center; */



/* shop area  */

.shop {
    position: relative;
    top: 150px;

}

.tex {
    text-align: center;
    justify-content: center;
}

.tital {
    font-family: Kumbh-Sans' , sans-serif';
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    /* color: #2B2D42; */

}

.price {
    opacity: 0.85;
    font-size: 18px;
}

.dis {
    color: red;
}

/* REVIEW-SECTION */
.review {
    background-image: url(image/banner3.jpg);
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-top: 300px;
    font-size: larger;
    text-decoration: none;
}
.ah1{
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 2px;
}
.reveiw-a{
    color: rgb(212, 52, 52);
}

.text-area{
    height: 400px;
    width: 400px;
    color: red;
    /* border: 2px solid red; */
    color: white;
    text-align: start;
    position: relative;
    top: 13rem;
    left: 50px;
}
.t2{
    font-size: 20px;
}
/* .img-rev-1{
    position: relative;
    left: 75rem ;
    letter-spacing: 50px;
 
}*/
.a123{
    height: 100px ;
    width: 100px;
    position: relative;
    left: 70rem;
}